[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
fastapi-cli = "*"
orjson = "*"
sqlalchemy = "*"
alembic = "*"
dependency-injector = "*"

[dev-packages]

[requires]
python_version = "3.11"
